.card-container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    filter: drop-shadow(10px 10px 10px #2f4d33a3);

}

.actionsclass {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.background{
    background-image: URL("https://png.pngtree.com/thumb_back/fw800/background/20191115/pngtree-repeating-trees-background-image_322389.jpg");
}

.form-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    justify-content: center;
}

.lengthElevation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    justify-content: center;
    background-color: #d6eecfe7;
    width: 35vw;
}

.trailcard {
    margin: 10px;
    background-color: #f0ffebf4;
    max-width: 400px;
}

img {
    height: 25vh;
    min-width: 400px;
    max-width: 400px;
    margin-bottom: 5px;
}

.form-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.firstsection {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.secondsection {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

button {
    border-radius: 7px;
    background-color: rgb(24, 94, 60) !important;
    filter: drop-shadow(5px 5px 5px #bbfdd8);
}

.headercontainer {
    display: flex;
    justify-content: space-between;
}