<div class="background">
  <div class="form-background">
 <div class="container">
  <div class = "form-container">


        <div class="firstsection">

          <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Reference Number</mat-label>
              <input matInput placeholder="Enter trail ID" [(ngModel)]="trail.id">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Trail Name</mat-label>
              <input matInput placeholder="Enter trail name"  value="new Book"[(ngModel)]="trail.trailName" >
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Miles</mat-label>
            <input matInput placeholder="Enter miles" [(ngModel)]="trail.miles">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Enter trail description" [(ngModel)]="trail.description">
      </mat-form-field>
      </div>
      <div class="secondsection">
          <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Elevation</mat-label>
              <input matInput placeholder="Enter elevation" [(ngModel)]="trail.elevation">
          </mat-form-field>
           <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Rating</mat-label>
              <input matInput placeholder="Enter trail rating" [(ngModel)]="trail.rating">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Difficulty</mat-label>
            <input matInput placeholder="Enter difficulty" [(ngModel)]="trail.difficulty">
        </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Image Link</mat-label>
            <input matInput placeholder="Upload image link" [(ngModel)]="trail.photo">
        </mat-form-field>
      </div>

    
      </div>
      <button mat-raised-button color="warn" (click)="addTrail()">Add trail</button>
</div>
</div>

<div class="card-container">

    <div *ngFor="let trail of trails">
  
    <mat-card class="trailcard" id="trailcard">
        <mat-card-header class="headercontainer">
          <mat-card-title class="headertitle">{{trail.trailName}}</mat-card-title>
          <mat-card-subtitle>Difficulty: {{trail.difficulty}}</mat-card-subtitle>
          <div class="subtitles">
          <mat-card-subtitle>Rating: {{trail.rating}}</mat-card-subtitle>
        </div>
        </mat-card-header>
        <mat-card-content>
          <img  class="headertitle" src="{{trail.photo}}" alt="{{trail.trailName}}" >
          <div class="lengthElevation">
          <p>Length: {{trail.miles}} mi</p>
          <p>Elevation: {{trail.elevation}} ft</p>
        </div>
          <p>Description: {{trail.description}}</p>
  
      </mat-card-content>
      <mat-card-actions class="actionsclass">
          <button mat-raised-button style="margin-right: 9px; " color="warn" (click)="updateTrail(trail)">Update</button>
          <button mat-icon-button style="color: white; background-color: rgb(255, 67, 67) !important; border-radius: 20px !important" (click)="deleteTrail(trail)">
              <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
      </mat-card>
    </div>
    </div>

</div>
