
<div class="overlay">
<div class="card-container">
    <img class="headertitle" src="{{trail.photo}}" alt="{{trail.trailName}}" style="width:600px">
    <mat-card class="trailcard" style="width: 600px;">
        <mat-card-header class="headercontainer">
          <mat-card-title class="headertitle">{{trail.trailName}}</mat-card-title>
          <mat-card-subtitle>{{trail.difficulty}}</mat-card-subtitle>
          <div class="subtitles">
          <mat-card-subtitle class="closeButton" (click)="closeTrail()"><mat-icon>close</mat-icon></mat-card-subtitle>
        </div>
        </mat-card-header>
        <mat-card-content>
          
          <p class="bookdescription">{{trail.description}}</p>
          
          
      </mat-card-content>
        <p>Length: {{trail.miles}} mi</p>
      <p>Rating: {{trail.rating}}</p> 
      <p>Elevation gain: {{trail.elevation}} ft</p>
      <p>Events: {{trail.events}}</p>
      
      </mat-card>
    </div>
</div>