<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="clickAccount()">
          <mat-icon>dialpad</mat-icon>
          <span>My Account</span>
        </button>
        <button mat-menu-item (click)="clickLogin()">
            <mat-icon>dialpad</mat-icon>
            <span>Login</span>
          </button>
        <!-- <button mat-menu-item (click)="clickResources()">
          <mat-icon>voicemail</mat-icon>
          <span>Resource View</span>
        </button> -->
        <button mat-menu-item (click)="clickTrails()">
          <mat-icon>dialpad</mat-icon>
          <span>Trails</span>
        </button>
        <button mat-menu-item (click)="clickUpdateTrails()">
            <mat-icon>dialpad</mat-icon>
            <span>Update Trails</span>
          </button>
        
      </mat-menu>
    <span>Hiking</span>
    <span class="example-spacer"></span>
    <p (click)="clickWishlist()">Wishlist</p>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon (click)="clickWishlist()" >favorite</mat-icon>
    </button>
  </mat-toolbar>