<div class="background">
<div class="overlay">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
<mat-card class="box">
  <mat-card-header>
    <mat-card-title>Sign In</mat-card-title>
  </mat-card-header>
<form class="login-form">
  <p>{{errorMessage}}</p>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Username</mat-label>
    <button mat-button matPrefix mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
    <input type="text" matInput placeholder="Enter your username" [(ngModel)]="user.username" name="username">

  </mat-form-field>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <button mat-button matPrefix mat-icon-button>
        <mat-icon>lock</mat-icon>
      </button>
      <input (keydown.enter)="login()" type="password" matInput placeholder="Enter your password" [(ngModel)]="user.password" name="password">
    </mat-form-field>
  </form>
  <button mat-stroked-button class="btn-block" id="login" mat-raised-button (click)="login()" >Login</button>
  <p class="noAccount">Don't have an account?</p>
  <button mat-stroked-button class="other-btn" id="login" mat-raised-button (click)="goToRegister()" >Register</button>
</form>
</mat-card>
</div>
</div>
</div>
