.background{
    background-image: URL("https://png.pngtree.com/thumb_back/fw800/background/20191115/pngtree-repeating-trees-background-image_322389.jpg");
}

.overlay {
    background-color: rgba(110, 133, 110, 0.553);
}

.card-container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    filter: drop-shadow(10px 10px 10px #2f4d33a3);
}

.actionsclass {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.description{
    border-color: rgb(98, 127, 92);
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    padding: 4px;
    padding-left: 5px;
    padding-right:5px;
}

.lengthElevation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.trailcard {
    margin: 10px;
    background-color: #f0ffebf4;
    max-width: 400px;
}

img {
    height: 25vh;
    min-width: 400px;
    max-width: 400px;
    margin-bottom: 5px;
    cursor: pointer;
}

.headercontainer {
    display: flex;
    justify-content: space-between;
}