@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&family=Quicksand:wght@600&display=swap');
.login-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 17vh;
}

.overlay {
  background-color: rgba(110, 133, 110, 0.553);
}

.background{
  background-image: URL("https://png.pngtree.com/thumb_back/fw800/background/20191115/pngtree-repeating-trees-background-image_322389.jpg");
}

.account {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.other-btn{
  width: 50%;
  margin-left: 82px;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
}
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 80vh;
  background: #a3cfa6;
}
.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}
.login-wrapper {
  height: 100%;
}
.positronx {
  text-decoration: none;
  color: #ffffff;
}
.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}
.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}
.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: #a3cfa6;
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}
.login-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}
.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}
.btn-block{
  font-size: 20px;
  font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}
.login-wrapper mat-card-header mat-card-title {
  font-size: 28px;
  margin: 0;
  font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
}
.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}
.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #c3e3c4;
}
.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}
