<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Create a new account</mat-card-title>
      <br>
    </mat-card-header>

    <form class="login-form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <button mat-button matPrefix mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
        <input type="text" matInput placeholder="Enter your username" [(ngModel)]="user.username" name="username">
      </mat-form-field>

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <button mat-button matPrefix mat-icon-button>
            <mat-icon>lock</mat-icon>
          </button>
          <input type="password" matInput placeholder="Enter your password" [(ngModel)]="user.password"  name="password">
        </mat-form-field>
      </form>

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline" style="margin-right: 10px;">
          <mat-label>Email Address</mat-label>
          <button mat-button matPrefix mat-icon-button>
            <mat-icon>mail</mat-icon>
          </button>          <input type="text" matInput placeholder="Enter your email address" [(ngModel)]="user.email"  name="email">
        </mat-form-field>
      </form>

      <button mat-stroked-button class="btn-block" id="signupbutton" mat-raised-button (click)="addUser()" (click)="gotoLogin()">Register</button>
    </form>
  </mat-card>
</div>
