
body{
    margin-top: 40px;
    background-image: URL("https://png.pngtree.com/thumb_back/fw800/background/20191115/pngtree-repeating-trees-background-image_322389.jpg");
    min-height: 80vh;
}

.profile-body{
margin: 25px;
}

.profile {
margin-top: -45px;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
background-color: #e1f4dbcc;
padding: 20px;
z-index: 0;
}

.socialmedia {
    text-align: center;
}

.photo {
    margin: 25px;

}

.image--cover {
    width: 170px;
    height: 170px;
    border: #44543f 3px solid;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: -40px;    
}

.username,
.profession,
.locationname,
.descricao {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 1px;
}

.username {
 
    font-size: 20pt;
    margin: 2px
}

.profession {
    font-size: 14pt;
}

.locationname {
    font-size: 14pt;
    margin: 2px
}

.descricao {
    border-top: #969696 solid 1px;
    padding: 10px;
    font-size: 11pt;
    margin: 5px;
}

.button-facebook,
.button-instagram,
.button-twitter,
.button-whatsapp {
    padding: 5px;
    font-size: 30pt;
}
.button-facebook {
    color: #3C5A99;
}
.button-instagram {
  color: #893dc2;
}
.button-twitter {
    color: #1DA1F2;
}
.button-whatsapp {
    color: #4AC959;
}
