  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="about">
          <h6>About</h6>
          <p class="text-justify">Rate my Hike is an app that we created for those whose hearts belong outdoor. Whether your a beginner or expert hiker, we hope to make your next hike one you love.</p>
        </div>

        <div class="categories">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#">Account</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Trails</a></li>
            <li><a href="#">Events</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="about/">About Us</a></li>
            <li><a href="contact/">Contact Us</a></li>
            <li><a href="map/">Map</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="Copyright">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#">Rate My Hike</a>.
          </p>
        </div>

        <div class="social-media">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>